In [1]:
import datetime
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

Data description available here: https://gallery.azure.ai/Experiment/Predictive-Maintenance-Step-1-of-3-data-preparation-and-feature-engineering-2

In [2]:
train = pd.read_csv('../data/raw/PM_train.csv')
print('shape: ', train.shape)
print('columns', train.columns)

shape:  (20631, 26)
columns Index(['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
       's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
       's15', 's16', 's17', 's18', 's19', 's20', 's21'],
      dtype='object')

In [3]:
train.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044

In [4]:
test = pd.read_csv('../data/raw/PM_test.csv')
print('shape: ', test.shape)
print('columns', test.columns)

shape:  (13096, 26)
columns Index(['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
       's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
       's15', 's16', 's17', 's18', 's19', 's20', 's21'],
      dtype='object')

In [5]:
test.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100,38.86,23.3735
1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100,39.02,23.3916
2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100,39.08,23.4166
3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100,39.00,23.3737
4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100,38.99,23.4130

In [6]:
score = pd.read_csv('../data/raw/PM_score.csv')
print('shape: ', score.shape)
print('columns', score.columns)

shape:  (175, 26)
columns Index(['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
       's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
       's15', 's16', 's17', 's18', 's19', 's20', 's21'],
      dtype='object')

In [7]:
score.head()

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,2,1,-0.0009,0.0004,100,518.67,642.66,1589.30,1407.16,14.62,...,521.62,2388.14,8129.59,8.4283,0.03,392,2388,100,39.00,23.3923
1,2,2,-0.0011,0.0002,100,518.67,642.51,1588.43,1405.47,14.62,...,522.02,2388.08,8120.05,8.4414,0.03,393,2388,100,38.84,23.2902
2,2,3,0.0002,0.0003,100,518.67,642.58,1595.60,1410.86,14.62,...,521.29,2388.08,8126.75,8.3804,0.03,394,2388,100,39.02,23.4064
3,2,4,0.0025,0.0001,100,518.67,642.31,1583.43,1408.23,14.62,...,521.57,2388.06,8129.91,8.4342,0.03,393,2388,100,38.82,23.4699
4,2,5,0.0004,-0.0004,100,518.67,642.77,1585.03,1407.60,14.62,...,521.59,2388.11,8127.01,8.4247,0.03,392,2388,100,38.81,23.3895

In [8]:
truth = pd.read_csv('../data/raw/PM_truth.csv')
print('shape: ', truth.shape)
print('columns', truth.columns)

shape:  (100, 1)
columns Index(['RUL'], dtype='object')

In [9]:
truth.head()

   RUL
0  112
1   98
2   69
3   82
4   91

### Data Labeling

In [10]:
# Calculate Remaining Useful Life (RUL)
train['RUL'] = train.apply(lambda row: train[train['id'] == row['id']]['cycle'].max() - row['cycle'], axis=1)
test['RUL'] = test.apply(lambda row: test[test['id'] == row['id']]['cycle'].max() - row['cycle'], axis=1)

In [11]:
# Business parameters
w0 = 7
w1 = 14

# Calculate if engine will fail within [0, w1] days
train['label1'] = train['RUL'].apply(lambda x: 0 if x > w1 else 1)
test['label1'] = test['RUL'].apply(lambda x: 0 if x > w1 else 1)

# Calculate if engine will fail within [0, w0], [w0+1, w1] days
train['label2'] = train['RUL'].apply(lambda x: 2 if x <= w0 else (0 if x > w1 else 1))
test['label2'] = test['RUL'].apply(lambda x: 2 if x <= w0 else (0 if x > w1 else 1))

In [13]:
train[170:195]

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s15,s16,s17,s18,s19,s20,s21,RUL,label1,label2
170,1,171,0.0004,-0.0003,100,518.67,643.26,1592.06,1414.99,14.62,...,8.4922,0.03,395,2388,100,38.68,23.2444,21.0,0,0
171,1,172,-0.0014,-0.0003,100,518.67,643.33,1591.71,1413.73,14.62,...,8.4595,0.03,393,2388,100,38.65,23.1585,20.0,0,0
172,1,173,-0.0032,0.0002,100,518.67,642.97,1590.69,1425.27,14.62,...,8.5091,0.03,395,2388,100,38.59,23.1789,19.0,0,0
173,1,174,-0.0001,-0.0002,100,518.67,642.64,1599.81,1422.58,14.62,...,8.4476,0.03,393,2388,100,38.57,23.0357,18.0,0,0
174,1,175,0.0001,0.0002,100,518.67,643.61,1603.29,1422.52,14.62,...,8.4890,0.03,394,2388,100,38.58,23.1573,17.0,0,0
175,1,176,-0.0020,-0.0003,100,518.67,642.86,1592.27,1422.73,14.62,...,8.4853,0.03,394,2388,100,38.72,23.2491,16.0,0,0
176,1,177,-0.0038,-0.0003,100,518.67,643.79,1602.02,1423.99,14.62,...,8.4779,0.03,396,2388,100,38.63,23.1673,15.0,0,0
177,1,178,-0.0001,0.0002,100,518.67,643.38,1605.33,1424.65,14.62,...,8.4770,0.03,395,2388,100,38.65,23.1770,14.0,1,1
178,1,179,0.0023,-0.0003,100,518.67,642.86,1592.56,1429.45,14.62,...,8.4947,0.03,395,2388,100,38.77,23.1888,13.0,1,1
179,1,180,-0.0024,0.0000,100,518.67,643.58,1599.87,1417.14,14.62,...,8.4737,0.03,395,2388,100,38.86,23.0070,12.0,1,1
180,1,181,-0.0006,0.0005,100,518.67,643.44,1596.71,1420.64,14.62,...,8.4720,0.03,397,2388,100,38.34,23.1652,11.0,1,1
181,1,182,-0.0010,0.0003,100,518.67,644.21,1602.08,1426.62,14.62,...,8.5158,0.03,397,2388,100,38.43,23.1787,10.0,1,1
182,1,183,0.0001,0.0001,100,518.67,643.24,1597.23,1419.03,14.62,...,8.5041,0.03,396,2388,100,38.56,23.1302,9.0,1,1
183,1,184,0.0004,0.0003,100,518.67,644.07,1605.44,1432.52,14.62,...,8.5133,0.03,395,2388,100,38.43,23.0146,8.0,1,1
184,1,185,0.0008,0.0001,100,518.67,643.80,1603.46,1424.40,14.62,...,8.4984,0.03,395,2388,100,38.51,23.0700,7.0,1,2
185,1,186,0.0027,-0.0003,100,518.67,643.51,1595.16,1426.30,14.62,...,8.5227,0.03,397,2388,100,38.47,23.0564,6.0,1,2
186,1,187,-0.0047,0.0000,100,518.67,643.32,1592.10,1427.27,14.62,...,8.5218,0.03,396,2388,100,38.42,23.0822,5.0,1,2
187,1,188,-0.0067,0.0003,100,518.67,643.75,1602.38,1422.78,14.62,...,8.5207,0.03,396,2388,100,38.51,22.9588,4.0,1,2
188,1,189,-0.0006,0.0002,100,518.67,644.18,1596.17,1428.01,14.62,...,8.5183,0.03,395,2388,100,38.48,23.1127,3.0,1,2
189,1,190,-0.0027,0.0001,100,518.67,643.64,1599.22,1425.95,14.62,...,8.5223,0.03,398,2388,100,38.49,23.0675,2.0,1,2
190,1,191,0.0000,-0.0004,100,518.67,643.34,1602.36,1425.77,14.62,...,8.5174,0.03,394,2388,100,38.45,23.1295,1.0,1,2
191,1,192,0.0009,0.0000,100,518.67,643.54,1601.41,1427.20,14.62,...,8.5113,0.03,396,2388,100,38.48,22.9649,0.0,1,2
192,2,1,-0.0018,0.0006,100,518.67,641.89,1583.84,1391.28,14.62,...,8.3905,0.03,391,2388,100,38.94,23.4585,286.0,0,0
193,2,2,0.0043,-0.0003,100,518.67,641.82,1587.05,1393.13,14.62,...,8.4167,0.03,392,2388,100,39.06,23.4085,285.0,0,0
194,2,3,0.0018,0.0003,100,518.67,641.55,1588.32,1398.96,14.62,...,8.3802,0.03,391,2388,100,39.11,23.4250,284.0,0,0